body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}
			
			#header {
				background: #ccc;
				height: 100px;
			}
			
			#header h1 {
				margin: 0;
				padding-top: 15px;
			}
			
			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}
			
			#nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -100%;
				background: #eee;
			}
			
			#footer {
				clear: left;
				width: 100%;
				background: #ccc;
				text-align: center;
				padding: 4px 0;
			}
	
			#wrapper {
				overflow: hidden;
			}
						
			#content {
				margin-left: 230px; /* Same as 'nav' width */
			}
			
			.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}
		
			p {
				color: #555;
			}
	
			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			
			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}
		.submit_btn{
   background: linear-gradient(#000099, #000099);
    background-color: #cc0000;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #fff #fff #fff;
    line-height: 126%;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    text-rendering: optimizelegibility;
    font-size: 19px;
    letter-spacing: inherit;
    min-width: 150px;
    padding: 7px 20px;
    text-align: center
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-width: thin;
}
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
  	text-align: center;
    left: 33%;
    top: 30%;
    background-color: rgb(0,0,0); /* Fallback color */
    opacity: 0.8;
    border: 2px;
    padding: 10px 10px 10px 10px;
    border-radius: 5%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.textfield{
	font-family: inherit;
    width: 430px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    line-height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border-color: #bdc7d8;
    border-width: thin;
}